body {
    background-color: #ff3c4b; 
}

.navbar-brand img {
    width: 25%; 
    position: relative;
    bottom: 12px; 
}

.navbar-brand {
    vertical-align: middle; 
    display: inline-block; 
    margin-right: -200px; 
}

.navbar-brand img:first-of-type {
    width: 40px; 
    height: 40px;
}

nav {
    position: fixed;
}


.jumbotron {
    background-color: #ff3c4b; 
    color: #fafafa; 
    height: 100vh;
}

.navbar {
    margin-bottom: 0; 
}

.jumbotron img {
    width: 145px; 
    height: 50px; ;
}

.jumbotron .btn-default, .jumbotron .btn-default:hover {
    color: #ff3c4b; 
}

.embed-responsive {
    height: 20%; 
}

@media screen and ( max-width: 500px) {
    .video {
        width: 200px; 
        height: 200px;;
    }
}

#read-more {
        font-size: 25px; 
}
/*-----------------------*/
.footer {
    background-color: #fafafa; 
    width: 100%;
    text-align: left; 
}

.footer .row {
    color: gray; 
    margin-left: 5%; 
    vertical-align: middle;
    line-height: 50px; 
}

.footer label {
    font-size: 12px; 
}

.footer a .btn {
    color: black; 
}
