body {
    background-color: #ff3c4b; 
}

.navbar-brand img {
    width: 25%; 
    position: relative;
    bottom: 12px; 
}

.navbar-brand {
    vertical-align: middle; 
}

.navbar-brand {
    vertical-align: middle; 
    display: inline-block; 
    margin-right: -200px; 
}

.navbar-brand img:first-of-type {
    width: 40px; 
    height: 40px;
}

.navbar {
    margin-bottom: 0; 
}

nav {
    position: fixed;
}

.name {
    position: relative;
    bottom: 8px; 
    font-weight: 100px !important; 
    font-size: 30px;
    font-family: Ubuntu;

}
/* -------------------- */
p.row1 {
    padding-top: 20px; 
    width: 80%;
    margin-left: auto; 
    margin-right: auto; 
    font-size: 25px; 
}

p.row2, p.row3, p.row4 {
    font-size: 20px; 
}

.row2, .row3, .row4, h3.page-header {
    padding-left: 5%; 
    padding-right: 5%; 
}

@media screen and ( max-width: 500px) {
    .footer button {margin-bottom: 15px; }
    h3 img { height: 35px; float: right; }
}

h3 img {
    height: 50px;
    float: right;
    margin-top: -15px; 
}

/* ----- */
.container.top, .container.team {
    width: 85%; 
    background-color: #fafafa; 
}

.container.product, .container.vision {
    width: 85%; 
    background-color: #e8e6e6; 
}

.row1 {
    margin-left: auto; 
    margin-right: auto; 
    width: 70%;
}

@media screen and ( max-width: 500px) {
    .container.top, .container.product, .container.team, .container.vision{
        width: 100%; 
    }

    .row1 {
        width: 100%; 
    }

    .lead {
        font-size: 18px; 
    }

    .footer button {
        margin-bottom: 15px; 
    }

    h3 img {
        height: 35px; float: right; 
    }
}

/* ----- */
.footer {
    background-color: #fafafa; 
    width: 100%;
    text-align: left; 
}

.footer .row {
    color: gray; 
    margin-left: 5%; 
    vertical-align: middle;
    line-height: 50px; 
}

.footer label {
    font-size: 12px; 
}

.footer a .btn {
    color: black; 
}